.productCard {
  background-color: #ffffff;
  border: 1px solid #d5dadf;
  max-width: 240px;
  padding-bottom: 25px;
  border-radius: 10px;
  cursor: pointer;
  max-width: 240px;
  a {
    text-decoration: none;
  }
}

.productCard:hover {
  border: 1px solid #13b3ba;
}

.picturesCard img {
  aspect-ratio: 240 / 200;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.name {
  padding: 20px 14px;
  font-weight: 400;
  font-style: normal;
  overflow: hidden;
  color: #001f3d;
  overflow: hidden; /* Приховує текст, який не поміщається */
  text-overflow: ellipsis; /* Додає три крапки (...) до тексту */
  max-width: 100%; /* Обмежує ширину до 100% ширини батьківського контейнера */
  display: -webkit-box; /* Використовує flexbox для браузерів на основі WebKit */
  -webkit-box-orient: vertical; /* Встановлює орієнтацію текстового контейнера на вертикальну */
  -webkit-line-clamp: 2; /* Обмежує текст двома рядками */
  min-height: 45px; /* Обмежує висоту контейнера */
  font-family: var(--main-font-family);
}

.inStock {
  color: #13b3ba;
  margin-left: 12px;
}

.notStock {
  color: #d5dadf;
  margin-top: 20px;
  margin-left: 12px;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}

.oldPrice {
  color: #7d7d91;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  margin: 12px 0px 6px 12px;
}

.price {
  color: #de0404;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  margin-left: 12px;
}

.buyLike {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 24px;
}

.blockLike {
  margin-left: 20px;
}
