.mainContainer {
  padding: 100px 15px;
  max-width: 1072px;
  font-family: var(--main-font-family);
}

.contentContainer h3 {
  font-size: 36px;
  line-height: 36px;
  padding-bottom: 20px;
  font-family: var(--main-font-family);
}

.contentContainer p {
  text-align: justify;
  font-size: 20px;
  line-height: 25px;
  font-family: var(--main-font-family);
}