.inStock {
  color: #13B3BA;
  padding-left: 12px;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}

.notStock {
  color: #D5DADF;
  padding-left: 12px;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}