.slideWraper {
  margin-left: 72px;
  margin-right: 72px;

  @media (max-width: 1079.98px) {
    margin-left: 32px;
    margin-right: 32px;
  }
  @media (max-width: 840.98) {
    margin-left: 32px;
    margin-right: 32px;
  }
}
