.price {
  font-size: 16px;
  color: #333;

  .oldPrice {
    text-decoration: line-through;
    color: #aaa;
    margin-right: 10px;
  }

  .actionPrice {
    color: #e74c3c;
    font-weight: bold;
  }
}
