.categoriesContainer {
  display: flex;
  flex: 1; /* Займає доступний простір всередині */
}

.mainContainer {
  padding: 100px 15px;
  max-width: 1072px;
}

.productContainer {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.productCardWrapper {
  background-color: #ffffff;
  border: 1px solid #D5DADF;
  max-width: 240px;
  padding-bottom: 25px;
  border-radius: 10px;
  cursor: pointer;
  a {
    text-decoration: none;
  }
}

.productCardWrapper:hover {
  border: 1px solid #13B3BA;
}

.productCard {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.picturesCard img {
  aspect-ratio: 240 / 200;
	width: 100%;
	height: 100%;
	object-fit: cover;
  border-radius: 10px;
}

.productInfo {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  gap: 8px;
}

.name {
  font-weight: 700;
  font-style: normal;
  line-height: 1.4;
  color: #001f3d;
  padding-left: 14px;
  padding-right: 14px;
  overflow: hidden; /* Приховує текст, який не поміщається */
  text-overflow: ellipsis; /* Додає три крапки (...) до тексту */
  max-width: 100%; /* Обмежує ширину до 100% ширини батьківського контейнера */
  display: -webkit-box; /* Використовує flexbox для браузерів на основі WebKit */
  -webkit-box-orient: vertical; /* Встановлює орієнтацію текстового контейнера на вертикальну */
  -webkit-line-clamp: 2; /* Обмежує текст двома рядками */
  min-height: 45px; /* Обмежує висоту контейнера */
}

.inStock {
  color: #13B3BA;
  padding-left: 12px;
}

.notStock {
  color: #D5DADF;
  margin-top: 20px;
  margin-left: 12px;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}

.priceContainer {
  flex: 1 0 38px;
  align-content: flex-end;
}

.buyLike {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 24px;
  gap: 24px;
}


.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.loader {
  border: 4px solid #f3f3f3; /* Світлий колір */
  border-top: 4px solid #007bff; /* Основний колір */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}