.sidebar {
  flex: 0 1 345px; /* Фіксований розмір бокової панелі */
  padding: 30px 0px;
  display: block;
  height: 100vh; /* Висота sidebar дорівнює висоті вікна браузера */
  position: sticky; /* Залишається видимим під час прокручування */
  top: 80px; /* Фіксуємо sidebar у верхній частині */
}