.mainContainer {
  padding-top: 30px;
  padding-bottom: 102px;
}

.contentContainer {
  max-width: 1440px; /* Максимальна ширина контейнера */
  margin: 0 auto; /* Центруємо контейнер */
  padding: 0 15px; /* Відступи зліва та справа */

  h3 {
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
    padding-bottom: 10px;
    line-height: 1.2;
    font-family: var(--main-font-family);
  }
}

.productName {
  color: #45525c;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 6%;
  font-family: var(--main-font-family);
}

.productDescription {
  margin-top: 78px;
  display: flex;
  justify-content: space-between;
  column-gap: 22px;
  padding-bottom: 60px;
}

.smallPhoto {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1 0 60px;
}

.containerPhoto {
  border-radius: 10px;
  border: 1px solid #D5DADF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrollablePhotos {
  max-height: 580px; /* Максимальна висота блоку для фото */
  overflow-y: auto; /* Вертикальна смуга прокручування */
  display: flex;
  flex-direction: column;
  gap: 10px; /* Відступи між фотографіями */
  border: 1px solid #d5dadf; /* Обрамлення блоку */
  padding: 10px;
  border-radius: 10px;

  /* Стилізація смуги прокручування */
  &::-webkit-scrollbar {
    width: 8px; /* Ширина смуги прокручування */
  }

  &::-webkit-scrollbar-thumb {
    background: #136aba; /* Колір повзунка */
    border-radius: 10px; /* Закруглення повзунка */
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #0d4d8c; /* Колір повзунка при наведенні */
  }

  &::-webkit-scrollbar-track {
    background: #f0f0f0; /* Колір доріжки */
  }
}

.containerPhoto {
  border-radius: 10px;
  border: 1px solid #d5dadf;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    aspect-ratio: 60 / 60;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 0.3s;
    border-radius: 10px;
  }

  &:hover {
    border: 1px solid #13b3ba;
    cursor: pointer;
  }
}

// .containerPhoto img{
//   aspect-ratio: 60 / 60;
// 	width: 100%;
// 	height: 100%;
// 	object-fit: contain;
//   transition: 1s;
//   border-radius: 10px;
// }

// .containerPhoto:hover {
//   border: 1px solid #13B3BA;
//   cursor: pointer;
// }

.mainPhoto{
 flex-basis: 580px;
}

.mainPhoto img {
  aspect-ratio: 580 / 504;
	width: 100%;
	height: 100%;
	object-fit:cover;
  max-width: 580px;
  border-radius: 10px;
  border: 1px solid #D5DADF;
}

.rightContainer {
  flex-basis: 710px;
}
.titleProduct {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  align-items: center; /* Додаємо вирівнювання по центру */
}

.containerLike {
  border-radius: 200px;
  background-color: rgba(224, 224, 224, 0.2);
  height: 64px;
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0; /* Забороняємо стиснення */
  svg {
    height: 26px;
    width: 30px;
  }
}

.textCode {
  color: #708292;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4;
  margin-bottom: 36px;
  font-family: var(--main-font-family);
}

.mainText {
  color: #708292;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4;
  margin-bottom: 56px;
  min-height: 154px;
  font-family: var(--main-font-family);
}

.inStock {
  color: #13B3BA;
  margin-left: 12px;
  margin-bottom: 12px;
  font-family: var(--main-font-family);
}

.notStock {
  color: #D5DADF;
  margin-bottom: 12px;
  margin-left: 12px;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  font-family: var(--main-font-family);
}

.oldPrice {
  color: #7D7D91;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  margin-left: 12px;
  margin-bottom: 6px;
  font-family: var(--main-font-family);
}

.price {
  color: #DE0404;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  margin-left: 12px;
  font-family: var(--main-font-family);
}

.buy {
  margin-top: 30px;
}

.containerSlider {
  max-width: 1440px; /* Максимальна ширина контейнера */
  margin: 0 auto; /* Центруємо контейнер */
  padding: 0 15px;
  border-top: 1px solid #D5DADF;

  @media (max-width: 1452.98px) {
    max-width: 1264px;
}
  @media (max-width: 1254.98px) {
    max-width: 1124px;
}
  @media (max-width: 1299.98px) {
    max-width: 1048px;
}
  @media (max-width: 1079.98px) {
    max-width: 888px;
}

@media (max-width: 976.98px) {
  max-width: 768px;
}

@media (max-width: 840.98px) {
  max-width: 618px;
}

@media (max-width: 683.98px) {
  max-width: 480px;
}
  
  h4 {
    color: #136ABA;
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
    font-family: var(--main-font-family);
  }
}

