.linksSidebar {
  padding-top: 30px;
}

.linksSidebar p {
  font-weight: 700;
  font-style: normal;
  line-height: 1.4;
  padding-bottom: 10px;
  font-size: 20px;
  color: #001f3d;
}

.linksSidebar {
  ul {
    list-style: none;
    li {
      padding: 10px 20px;
      a {
        text-decoration: none;
        color: #45525c;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.4;
        cursor: pointer;
      }
    }
  }
}

.link {
  color: #45525c; 
  text-decoration: none;
  transition: color 0.2s;
}

.link:hover {
  color: #13b3ba;
}

.active {
  color: #13b3ba;
  transition: color 0.2s;
}

.menuHeader {
  color: #45525c;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.4;
  cursor: pointer;
  border: 0;
  background: transparent;
}

.menuHeader:hover {
  color: #13b3ba;
  transition: color 0.3s;
  cursor: pointer;
}

.subMenu {
  height: auto; 
  overflow: visible;
  transition: none;
}

.subMenu.collapsed {
  height: 0;
  overflow: hidden;
  transition: height 0.3s;
}

.menuItem {
  position: relative;
  a:hover {
    color: #13b3ba;
    transition: color 0.3s;
    cursor: pointer;
  }
}

.accordionArrow {
  position: absolute;
  top: 50%;
  right: 20px;
  display: block;
  width: 30px;
  height: 17px;
  transform: translateY(-50%);
  @media (max-width: 1199.98px) {
    display: none;
  }
}

.accordionArrow.active {
  top: 25px;
  transform: translateY(-50%) rotate(180deg);
  @media (max-width: 1199.98px) {
    display: none;
  }
}

.sidebar {
  margin-top: 8px;
}
